{% extends "base.html" %}

{% block content %}

    <section id="blog" class="grey-background">
        {% for blog in blogs %}
        <div class="blog-post-tile grey-background">
            <div class="blog-post-img-container">
                <a href="{% url 'post_detail' blog.slug  %}">
                    <div class="tile-span">
                        <span class="white-font">{{ blog.title }}</span>
                    </div>
                    {% if "placeholder" in blog.featured_image.url %}
                    <img class="tile-img" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                    {% else %}
                    <img class="tile-img" src=" {{ blog.featured_image.url }}" width="100%">
                    {% endif %}
                    <div class="tile-span">
                        <span class="white-font">Author: {{ blog.author }}</span>
                    </div>
                </a>
                
            </div>

        </div>
        {% endfor %}


    </section>

{%endblock%}