{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="blog-post grey-background white-font">
    <div class="blog-header">
        <!-- Post title goes in these h1 tags -->
        <h1 class="blog-title">{{ blog.title }}</h1>
        <!-- Post author goes before the | the post's created date goes after -->
        <p class="blog-subtitle">{{ blog.author }} | {{ blog.created_on }}</p>

        {% if "placeholder" in blog.featured_image.url %}
        <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
        {% else %}
        <img src=" {{ blog.featured_image.url }}" width="100%">
        {% endif %}
    </div>

    <div class="blog-body">
        <div class="post-content">
            <p class="post-content-text">
                {{ blog.body | safe }}
            </p>
            <strong>
                {% if user.is_authenticated %}
                <form class="" action="{% url 'post_like' blog.slug %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" name="blogpost_id" value="{{blog.slug}}" class="btn-like">
                        <i class="fas fa-heart"></i>
                    </button>
                    {% else %}
                    <button type="submit" name="blogpost_id" value="{{blog.slug}}" class="btn-like">
                        <i class="far fa-heart"></i>
                    </button>
                    {% endif %}
                </form>
                {% else %}
                <span class="white-font"><i class="far fa-heart"></i></span>
                {% endif %}
                <span class="white-font">{{ blog.number_of_likes }}</span>
            </strong>
            <div class="blog-comments-count">
                {% with comments.count as total_comments %}
                <strong class="comment-text"><i class="far fa-comments"></i>
                    <!-- Our total_comments variable goes before the closing strong tag -->
                    {{ total_comments }}</strong>
                {% endwith %}
            </div>
            
            <hr>

            <div class="blog-comments">
                <h3>Comments:</h3>
                {% for comment in comments %}
                <div class="comment-body">
                    <p>
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.name }}
                        <span class="comment-text">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.body | linebreaks }}
                    {% if comment.name == user.username %}
                    <div class="del-edit">
                        <a href="{% url 'delete_comment' blog.slug comment.id %}">
                            <i class="delete-comment fa-solid fa-trash"></i>
                        </a>
                        <a href="{% url 'edit_comment' blog.slug comment.id %}">
                            <i class="edit-comment fa-solid fa-file-pen"></i>
                        </a>
                    </div>
                    {% endif %}
                    <!-- Our for loop ends here -->
                </div>
                {% endfor %}

                <!-- New comment form -->
                <div class="comment-form form-container grey-background">
                    {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                    </div>
                    {% else %}
                    {% if user.is_authenticated %}
                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form class="" method="post">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-comment">Submit</button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>




<!-- For Later -->
<!-- <div class="container">
    <div class="row">
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div> -->

{% endblock content %}